*.bak
*.BAK
*.old
*.OLD
.*.swp
.*history
.*hst
.abacus
.android
.babel.json
.babelrc
.bash_aliases
.bash_completion
.bash_sessions
.bashrc_local*
.bin
.cache
.CFUserTextEncoding
.config/kitty/theme-colours.conf
.dart
.DS_Store
.elm
.fontconfig/*.cache-*
.fontconfig/CACHEDIR.TAG
.ghcup
.gitconfig
.gitit.conf
.gnupg
.gnuplot-wxt
.gradle
.groovy
.h*
.inputrc
.java
.lambdabot
.local/lib
.local/share
.local/state
.local/var
.m2
.nix*
.npm
.nvidia-settings-rc
.password-store
.pnpm-state
.reportbugrc
.rnd
.selected_editor
.serverauth.*
.ssh/*.key
.ssh/*.pem
.ssh/*.pub
.ssh/authorized_keys
.ssh/config.d
.ssh/id*
.ssh/known_hosts
.stack/pantry/
.stack/programs/
.stack/setup-exe-cache/
.stack/setup-exe-src/
.stack/snapshots/
.stack/stack.sqlite3
.stack/stack.sqlite3.pantry-write-lock
.sudo_as_admin_successful
.Trash
.unison
.v8flags.*
.vim
.viminfo
.w3m
.wget-hsts
.wsl-config
.Xauthority
.xmonad/*.errors
.yarnrc
/[a-zA-Z0-9]*
