[a-zA-Z0-9]*
.*history
.*hst
.*.swp
.babel.json
.babelrc
.bashrc_local*
.bash_completion
.bash_sessions
.cache
.CFUserTextEncoding
.DS_Store
.gitconfig
.gitit.conf
.inputrc
.nix*
.rnd
.selected_editor
.serverauth.*
.Trash
.v8flags.*
.vim
.viminfo
.Xauthority
