*.old
*.OLD
*.bak
*.BAK
/[a-zA-Z0-9]*
.*history
.*hst
.*.swp
.abacus
.android
.babel.json
.babelrc
.bash_aliases
.bashrc_local*
.bash_completion
.bash_sessions
.bin
.cache
.CFUserTextEncoding
.dart
.DS_Store
.elm
.fontconfig/CACHEDIR.TAG
.fontconfig/*.cache-*
.ghcup
.gitconfig
.gitit.conf
.gnupg
.gnuplot-wxt
.gradle
.groovy
.h*
.inputrc
.java
.lambdabot
.local/lib
.local/share
.local/var
.nix*
.npm
.nvidia-settings-rc
.m2
.password-store
.pnpm-state
.reportbugrc
.rnd
.selected_editor
.serverauth.*
.ssh/authorized_keys
.ssh/config.d
.ssh/id*
.ssh/known_hosts
.ssh/*.key
.ssh/*.pub
.ssh/*.pem
.stack/pantry/
.stack/programs/
.stack/setup-exe-cache/
.stack/setup-exe-src/
.stack/snapshots/
.stack/stack.sqlite3
.stack/stack.sqlite3.pantry-write-lock
.sudo_as_admin_successful
.Trash
.unison
.v8flags.*
.vim
.viminfo
.w3m
.wget-hsts
.Xauthority
